// pcにあてるスタイル

.th-wrapper {
    color: #dcdcdc;
    @include rem(80);
    letter-spacing: 0.3em;
    font-weight: normal;
    position: relative;
    margin: 13vh 0 11vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    &__inner {
        width: 100%;
        margin: 0 auto;
        padding: 1% 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: padding .3s;
    &__logo {
        width: 250px;
        }

        .nav {
            &__list {
                display: inline-block;
                margin-right: 3vw;
                @include rem(16);
                a {
                    color: $color-white;
                }
            }
        }
        .hamburger-btn {
            display: none;
        }
        //スライドメニュー
        .hamburger {
            display: none;
        }
    }
}

// jQuery適用css --------
.header__inner.small {
    padding: 0 5vw;
}

.header__inner__logo.small {
    width: 200px;
}

.nav__list.small {
    @include rem(14);
}
// ----------------

.section__inner {
    padding: 0 80px 0 140px;
}

.ser-heading {
    text-align: center;
    .ser-theme {
        margin-bottom: 14vh;
        &:before {
            content: 'サービス';
            position: absolute;
            top: 70px;
            left: 35%;
            letter-spacing: 0.2em;
            font-weight: bold;
            color: #333;
            @include rem(31);
        }
    }

    .ser-text {
        @include rem(23);
        margin-bottom: 14vh;
        position: relative;
      // 文章下、線の装飾
        &:before {
            content: '';
            position: absolute;
            background-color: #999;
            bottom: -15px;
            width: 330px;
            height: 1px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}


// サービス内容にある3つのトピックス
.ser-menus {
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
    .ser-content {
        width: 24%;
        height: 100%;
        border: 1px solid #333;
        border-radius: 3px;
        margin:0 2.5vh 0;
        img {
        height: 95px;
        width: 95px;
    }
    .image {
        text-align: center;
        p {
            @include rem(20);
            margin: 1.5em 0;
            letter-spacing: 0.2em;
        }
        img {
            margin-bottom: 1.5em;
        }
    }
    .text-content {
        background-color: #738851;
        height: 8em;
        color: $color-white;
        @include rem(13);
        display: flex;
        justify-content: center;
        align-items: center;
        .topic {
            @include rem(14);
            margin-bottom: 8px;
            }
        }
    }
}


// --- 実績のセクション部分 ---
.works-section {
    background-image: url("../img/pc/works-image.jpg");
    min-height: 100vh;
    min-width: 100%;
    .work-heading {
        .work-theme {
            &:before {
                top: 70px;
                left: 38%;
                @include rem(30);
            }
        }
    }
}

/*==================================================
スライダーのためのcss
===================================*/

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:68vh;
}

.slick-dots li {
    margin:10px 10px 0;
}

.slick-dots button {
    width:10px;/*ドットボタンのサイズ*/
    height:10px;/*ドットボタンのサイズ*/
}

.slick-prev,
.slick-next {
    height: 30px;
    width: 30px;
}

// 価格のセクション部分
.price-section {
    padding: 95px 0 115px;
    .price-heading {
        .price-theme {
        &:before {
            top: 70px;
            left: 40%;
            @include rem(32);
            }
        &:after {
            top:38px;
            margin-left: 8px;
            width: 60px;
            height: 60px;
            }
        }
    }
    .price-tx {
        @include rem(18);
        margin-bottom: 5em;
        text-align: center;
        .p-tx1 {
            margin-bottom: 10px;
        }
    }
    .price-table {
        font-size:1.1em;
        text-align: center;
        box-shadow: 10px 10px #888;
        th,td {
            padding: 25px 70px;
        }
        span {
            @include rem(14);
        }
    }
}
// ----- 価格のセクションはここまで -----


// ----- 制作の流れの部分 ------

.making-order {
    .making-heading {
        height: 10vh;
        line-height: 10vh;
        font-weight: 100;
    }
    .making-content {
        .making-parts {
            padding: 80px;
            .making-part {
                height: 200px;
                max-width: 570px;
                padding: 35px 20px 0 110px;
                margin: 0 auto 30px;
                > h3 {
                    margin-bottom: 20px;
                }
                > p {
                    @include rem(15);
                }
            }
        }
    }
}

.adjust1 {
    > h3 {
        margin-left: 15px;
        &:before {
            top: 20px;
            left: 55px;
            width: 65px;
            height: 65px;
        }
    }
}

.adjust2 {
    > h3 {
        margin-left: 15px;
        &:before {
            top: 20px;
            left: 60px;
            width: 65px;
            height: 65px;
        }
    }
}

.adjust3 {
    > h3 {
        margin-left: 15px;
        &:before {
            top: 20px;
            left: 57px;
            width: 65px;
            height: 65px;
        }
    }
}

.adjust4 {
    > h3 {
        margin-left: 15px;
        &:before {
            top: 20px;
            left: 61px;
            width: 65px;
            height: 65px;
        }
    }
}

.adjust5 {
    > h3 {
        margin-left: 15px;
        &:before {
            top: 20px;
            left: 55px;
            width: 65px;
            height: 65px;
        }
    }
}

// ----- 制作の流れここまで ------

.about-section {
    padding: 1px 0 110px;
    .about-heading {
        .about-theme {
            &:before {
                top: 70px;
                left: 38%;
                @include rem(30);
            }
        }
    }
    .about-content {
        display: flex;
        justify-content: center;
        height: 600px;
        .profile-text {
            margin-left: 230px;
            .pr-place {
                margin-left: 30px;
                margin-bottom: 25px;
            }
            .pr-tx {
                margin: 45px 30px 45px 0;
                @include rem(16);
            }
        }
    }
}

// プロフィール画像部分
.profile-image > img {
    width: 530px;
    height: 530px;
    margin-left: 20px;
}

// -----画像から出る線部分-----
.pr-theme1 {
    width: 435px;
    position: relative;
    &:before {
        content:"";
        position: absolute;
        top: 22px;
        left: -275px;
        transform: skewX(-52deg);
        height: 90px;
        width: 185px;
        border-left: 1px solid #707070;
        border-top: 1px solid #909090;
    }
    span {
        @include rem(20);
    }
}

.pr-theme2 {
    width: 210px;
    position: relative;
    &:before {
        content:"";
        position: absolute;
        top: 22px;
        left: -245px;
        transform: skewX(-52deg);
        height: 75px;
        width: 165px;
        border-left: 1px solid #707070;
        border-top: 1px solid #909090;
    }
}

.pr-theme3 {
    width: 510px;
    position: relative;
    &:before {
        content:"";
        position: absolute;
        top: 10px;
        left: -245px;
        transform: skew(40deg,-38deg);
        height: 85px;
        width: 170px;
        border-left: 1px solid #909090;
        border-bottom: 1px solid #909090;
    }
}
  // -----画像から出る線部分終わり-----

  // ----- メッセージ部分の装飾 -----

.message-section {
    .message-heading {
        .message-theme {
            &:before {
                top: 70px;
                left: 35%;
                @include rem(30);
            }
        }
    }
}

// フォームの装飾
form div {
    max-width: 600px;
    margin: 0 auto 25px;
}

form div span {
    @include rem(14);
    padding: 0 5px ;
    margin-left: 10px;
}

label {
    margin-left: 5px;
    margin-bottom: 15px;
}

input[type="name"],
input[type="email"],
input[type="text"],
textarea {
    max-width: 600px;
}

textarea {
    height: 300px;
}

input[type="submit"] {
    display: block;
    margin: 15px auto 70px;
    @include rem(18);
}

  // ----- メッセージ部分の装飾ここまで -----




