@charset "UTF-8";
@import url("reset/reset.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  color: #333333;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  background-color: rgba(135, 25, 0, 0.9);
  z-index: 100;
}

.header__inner {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .fv {
  background-image: url("../img/pc/fv-image.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  text-align: center;
  display: table;
}

.main .fv .texts {
  display: table-cell;
  vertical-align: middle;
}

.main .fv .texts .fv-theme {
  font-size: 53px;
  /*IE9以前に対応する*/
  font-size: 3.3125rem;
  margin: 40px 0 50px;
  letter-spacing: normal;
  text-shadow: 3px 3px 6px #ffffff, -3px 3px 6px #ffffff, 3px -3px 6px #ffffff, -3px -3px 6px #ffffff;
}

.main .fv .texts .fv-tx {
  font-size: 13px;
  /*IE9以前に対応する*/
  font-size: 0.8125rem;
  letter-spacing: normal;
  text-shadow: 3px 3px 6px #ffffff, -3px 3px 6px #ffffff, 3px -3px 6px #ffffff, -3px -3px 6px #ffffff;
}

.main .ft-section {
  background-color: #932E40;
  color: #fff;
  padding: 85px 0 35px;
}

.main .section__ttl {
  font-size: 35px;
  /*IE9以前に対応する*/
  font-size: 2.1875rem;
  text-align: center;
  margin-bottom: 95px;
  font-weight: normal;
  position: relative;
}

.main .section__ttl:before {
  content: '';
  position: absolute;
  background-color: #fff;
  bottom: -15px;
  width: 250px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main .section__ttl:after {
  position: absolute;
  top: -10px;
  content: '';
  display: inline-block;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  width: 2em;
  height: 2em;
  background: url("../img/pc/icho.png") no-repeat;
  background-size: contain;
  margin-left: 15px;
}

.main .section__inner {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  margin: 0 auto;
  line-height: 3;
}

.main .section__inner ul > li {
  float: left;
  text-decoration: underline;
  list-style-type: square;
}

.main .s-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50px;
  color: #333333;
  height: 35vh;
  width: 860px;
}

.main .ft-text {
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 1.375rem;
  margin: 70px 0 0;
  line-height: 2;
  text-align: center;
}

.main .ft-text2 {
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 1.375rem;
  margin: 0 0 90px;
  line-height: 2;
  text-align: center;
}

.main .section__message {
  font-size: 22px;
  /*IE9以前に対応する*/
  font-size: 1.375rem;
  text-align: center;
  margin-bottom: 85px;
}

.main .section__message a {
  color: #fff;
  margin-left: 35px;
  padding: 20px;
  position: relative;
}

.main .section__message a:before {
  content: '';
  position: absolute;
  left: -45px;
  top: 36px;
  width: 45px;
  border-bottom: solid 2px #fff;
}

.main .section__end {
  text-align: center;
}

.main .section__end a {
  margin-top: 100px;
  position: relative;
  color: #fff;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
}

.main .section__end a span {
  position: absolute;
  top: -70px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
            transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.main .ser-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .ser-menus .ser-content {
  height: 100%;
  border: 1px solid #333;
  border-radius: 3px;
}

.main .ser-menus .ser-content .image {
  text-align: center;
}

.main .ser-menus .ser-content .image p {
  margin: 1.5em 0;
  letter-spacing: 0.2em;
}

.main .ser-menus .ser-content .image img {
  height: 95px;
  width: 95px;
  margin-bottom: 1.5em;
}

.main .ser-menus .ser-content .text-content {
  background-color: #738851;
  height: 8em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .ser-menus .ser-content .text-content .topic {
  margin-bottom: 8px;
}

.main .works-section {
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 1px 0 110px;
}

.main .works-section .work-heading .work-theme:before {
  content: '制作実績';
  position: absolute;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #333;
}

.main .works-section .slide-wrapper {
  margin: 0 auto;
}

.main .price-section {
  background-color: #932E40;
  color: #fff;
}

.main .price-section .price-heading {
  text-align: center;
}

.main .price-section .price-heading .price-theme {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 0;
}

.main .price-section .price-heading .price-theme:before {
  content: '価格';
  position: absolute;
  letter-spacing: 0.3em;
  font-weight: bold;
  color: #fff;
}

.main .price-section .price-heading .price-theme:after {
  position: absolute;
  content: '';
  display: inline-block;
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
  background: url("../img/pc/reaf.png") no-repeat;
  background-size: contain;
}

.main .price-section .price-tx {
  letter-spacing: .3em;
  line-height: 25px;
}

.main .price-section .price-table {
  margin: 0 auto;
  color: #333333;
  border-collapse: separate;
  border-spacing: 1px;
}

.main .price-section .price-table th {
  background: #E5E5E5;
}

.main .price-section .price-table td {
  background: #FFF;
}

.main .making-order .making-heading {
  text-align: center;
  color: #ffffff;
  background-color: #738851;
}

.main .making-order .making-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/common/sanmon.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/common/sanmon.jpeg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
}

.main .making-order .making-content .making-parts .making-part {
  background-image: url("../img/common/frame.png");
  background-position: center;
  background-size: cover;
}

.main .adjust1 {
  position: relative;
}

.main .adjust1 > h3 {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.main .adjust1 > h3:before {
  position: absolute;
  content: '';
  background: url("../img/common/one.png") no-repeat;
  display: inline-block;
  background-size: contain;
}

.main .adjust2 {
  position: relative;
}

.main .adjust2 > h3 {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.main .adjust2 > h3:before {
  position: absolute;
  content: '';
  background: url("../img/common/two.png") no-repeat;
  display: inline-block;
  background-size: contain;
}

.main .adjust3 {
  position: relative;
}

.main .adjust3 > h3 {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.main .adjust3 > h3:before {
  position: absolute;
  content: '';
  background: url("../img/common/three.png") no-repeat;
  display: inline-block;
  background-size: contain;
}

.main .adjust4 {
  position: relative;
}

.main .adjust4 > h3 {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.main .adjust4 > h3:before {
  position: absolute;
  content: '';
  background: url("../img/common/four.png") no-repeat;
  display: inline-block;
  background-size: contain;
}

.main .adjust5 {
  position: relative;
}

.main .adjust5 > h3 {
  display: inline-block;
  border-bottom: 1px solid #000;
}

.main .adjust5 > h3:before {
  position: absolute;
  content: '';
  background: url("../img/common/five.png") no-repeat;
  display: inline-block;
  background-size: contain;
}

.main .about-section {
  background-image: repeating-linear-gradient(45deg, #e8e8e8, #e8e8e8 5px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10px);
}

.main .about-section .about-heading {
  text-align: center;
}

.main .about-section .about-heading .about-theme:before {
  content: 'プロフィール';
  position: absolute;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #333333;
}

.main .about-section .about-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .about-section .about-content .profile-text .pr-place {
  border-bottom: 1px solid #000;
  font-weight: 300;
  text-shadow: 3px 3px 6px #ffffff, -3px 3px 6px #ffffff, 3px -3px 6px #ffffff, -3px -3px 6px #ffffff;
}

.main .about-section .about-content .profile-text .pr-tx {
  text-shadow: 3px 3px 6px #ffffff, -3px 3px 6px #ffffff, 3px -3px 6px #ffffff, -3px -3px 6px #ffffff;
}

.main .profile-image > img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.main .message-section .message-heading {
  text-align: center;
}

.main .message-section .message-heading .message-theme:before {
  content: 'お問い合わせ';
  position: absolute;
  top: 70px;
  left: 35%;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #333333;
  font-size: 30px;
  /*IE9以前に対応する*/
  font-size: 1.875rem;
}

.main form div {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 25px;
}

.main form div span {
  border: 1px #932E40 solid;
  background-color: #932E40;
  color: #ffffff;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  padding: 0 5px;
  margin-left: 10px;
}

.main label {
  margin-left: 5px;
  margin-bottom: 15px;
  display: block;
}

.main input[type="name"],
.main input[type="email"],
.main input[type="text"],
.main textarea {
  border: 1px #333333 solid;
  padding: 10px;
  width: 100%;
  max-width: 600px;
}

.main textarea {
  height: 300px;
}

.main input[type="submit"] {
  margin: 15px 0 70px 210px;
  background-color: #932E40;
  padding: 15px 28px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 18px;
  /*IE9以前に対応する*/
  font-size: 1.125rem;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/pc/footer-image.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/pc/footer-image.jpg");
  background-position: center;
  background-size: cover;
  min-height: 40vh;
  min-width: 100%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .twitter-icon > a {
  color: #ffffff;
}

.footer .nav {
  margin-left: 420px;
}

.footer .nav .nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .nav .nav__lists .nav__list > a {
  color: #ffffff;
  font-size: 15px;
  /*IE9以前に対応する*/
  font-size: 0.9375rem;
  margin-left: 45px;
}

.icon-color {
  color: #ffffff;
}

.fab {
  margin-right: 5px;
  display: inline-block;
}

@media screen and (max-width: 480px) {
  .header, .main, .footer {
    width: 100%;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__inner {
    padding: 2.5% 2vh;
  }
  .header__inner__logo {
    width: 170px;
  }
  .header__inner .nav {
    display: none;
  }
  .header__inner .hamburger-btn {
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    margin-right: 4vw;
    z-index: 20;
  }
  .header__inner .hamburger-btn__parts {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
  .header__inner .hamburger-btn__parts.-top {
    top: 0;
  }
  .header__inner .hamburger-btn__parts.-middle {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .header__inner .hamburger-btn__parts.-bottom {
    bottom: 0;
  }
  .header__inner .hamburger-btn.active .hamburger-btn__parts.-top {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
  }
  .header__inner .hamburger-btn.active .hamburger-btn__parts.-middle {
    opacity: 0;
  }
  .header__inner .hamburger-btn.active .hamburger-btn__parts.-bottom {
    -webkit-transform: translateY(-4px) rotate(45deg);
            transform: translateY(-4px) rotate(45deg);
  }
  .header__inner .hamburger {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #333333;
  }
  .header__inner .hamburger__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .header__inner .hamburger__list {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
    list-style: none;
    text-align: center;
  }
  .header__inner .hamburger__list + .header__inner .hamburger__list {
    padding-top: 50px;
  }
  .header__inner .hamburger__link {
    text-decoration: none;
    color: #ffffff;
  }
  .header__inner .hamburger.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main .fv {
    background-image: url("../img/sp/fv-image-sm.jpg");
  }
  .main .fv .texts .fv-theme {
    font-size: 37px;
    /*IE9以前に対応する*/
    font-size: 2.3125rem;
    margin-bottom: 40px;
  }
  .main .fv .texts .fv-tx {
    font-size: 13px;
    /*IE9以前に対応する*/
    font-size: 0.8125rem;
    margin: 0 40px;
  }
  .main .ft-section {
    text-align: left;
  }
  .main .ft-section .section__ttl {
    font-size: 21px;
    /*IE9以前に対応する*/
    font-size: 1.3125rem;
    margin: 0 30px 70px 0;
  }
  .main .ft-section .section__ttl:before {
    width: 140px;
  }
  .main .ft-section .section__ttl:after {
    top: -2px;
    margin-left: 5px;
    width: 1.5em;
    height: 1.5em;
  }
  .main .ft-section .section__inner {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
    padding: 0 30px 0 50px;
  }
  .main .ft-section .s-wrapper {
    height: 65vh;
    width: 90%;
  }
  .main .ft-section .ft-text, .main .ft-section .ft-text2 {
    font-size: 19px;
    /*IE9以前に対応する*/
    font-size: 1.1875rem;
    margin: 70px 25px 0;
  }
  .main .ft-section .ft-text2 {
    text-align: left;
    margin: 10px 25px 90px;
  }
  .th-wrapper {
    color: #dcdcdc;
    font-size: 53px;
    /*IE9以前に対応する*/
    font-size: 3.3125rem;
    letter-spacing: 0.3em;
    font-weight: normal;
    position: relative;
    margin: 11vh 0 7vh;
  }
  .ser-heading {
    text-align: center;
  }
  .ser-heading .ser-theme {
    margin-bottom: 14vh;
  }
  .ser-heading .ser-theme:before {
    content: 'サービス';
    position: absolute;
    top: 45px;
    left: 20%;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #333;
    font-size: 26px;
    /*IE9以前に対応する*/
    font-size: 1.625rem;
  }
  .ser-heading .ser-text {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
    margin: 0 20px 12vh;
    position: relative;
  }
  .ser-heading .ser-text:before {
    content: '';
    position: absolute;
    background-color: #999;
    bottom: -15px;
    width: 120px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .ser-menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10vh;
  }
  .ser-menus .ser-content {
    width: 86%;
    margin: 0 auto 20px;
  }
  .ser-menus .image > p {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
  }
  .ser-menus .text-content {
    font-size: 12px;
    /*IE9以前に対応する*/
    font-size: 0.75rem;
    padding: 6px;
  }
  .ser-menus .text-content .topic {
    font-size: 12px;
    /*IE9以前に対応する*/
    font-size: 0.75rem;
  }
  .works-section {
    background-image: url("../img/sp/works-image-smartphone.jpg");
    min-height: 100vh;
    min-width: 100%;
  }
  .works-section .work-heading {
    margin-bottom: 10vh;
  }
  .works-section .work-heading .work-theme:before {
    top: 45px;
    left: 22%;
    font-size: 26px;
    /*IE9以前に対応する*/
    font-size: 1.625rem;
  }
  .works-section .slide-wrapper {
    width: 320px;
    height: 250px;
  }
  .works-section .slide-wrapper #slide {
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 500px;
  }
  .works-section .slide-wrapper #slide ul {
    position: absolute;
    height: 500px;
  }
  .works-section .slide-wrapper #slide ul li {
    width: 320px;
    height: 250px;
  }
  .works-section #button {
    display: none;
  }
  .price-section {
    padding: 95px 0 50px;
  }
  .price-section .price-heading .price-theme:before {
    top: 40px;
    left: 25%;
    font-size: 26px;
    /*IE9以前に対応する*/
    font-size: 1.625rem;
  }
  .price-section .price-heading .price-theme:after {
    top: 23px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }
  .price-section .price-tx {
    font-size: 14px;
    /*IE9以前に対応する*/
    font-size: 0.875rem;
    margin-bottom: 4em;
    text-align: center;
  }
  .price-section .price-tx .p-tx1 {
    margin-bottom: 25px;
  }
  .price-section .price-tx .p-tx2 {
    padding: 0 10px;
  }
  .price-section .price-table {
    text-align: center;
  }
  .price-section .price-table th {
    font-size: 0.7em;
    padding: 25px 0;
  }
  .price-section .price-table td {
    font-size: 0.4em;
    padding: 20px 4px;
    white-space: nowrap;
  }
  .price-section .price-table span {
    font-size: 5px;
  }
  .making-order .making-heading {
    height: 7vh;
    line-height: 7vh;
    font-weight: lighter;
    font-size: 14px;
    /*IE9以前に対応する*/
    font-size: 0.875rem;
  }
  .making-order .making-content .making-parts {
    padding: 50px 0 30px;
  }
  .making-order .making-content .making-parts .making-part {
    height: 135px;
    width: 365px;
    padding: 20px 15px 0 50px;
    margin: 0 auto 10px;
  }
  .making-order .making-content .making-parts .making-part > h3 {
    font-size: 14px;
    /*IE9以前に対応する*/
    font-size: 0.875rem;
    margin-bottom: 10px;
  }
  .making-order .making-content .making-parts .making-part > p {
    font-size: 10px;
    /*IE9以前に対応する*/
    font-size: 0.625rem;
  }
  .adjust1 > h3 {
    margin-left: 30px;
  }
  .adjust1 > h3:before {
    top: 17px;
    left: 40px;
    width: 40px;
    height: 40px;
  }
  .adjust2 > h3 {
    margin-left: 30px;
  }
  .adjust2 > h3:before {
    top: 17px;
    left: 42px;
    width: 40px;
    height: 40px;
  }
  .adjust3 > h3 {
    margin-left: 30px;
  }
  .adjust3 > h3:before {
    top: 17px;
    left: 40px;
    width: 40px;
    height: 40px;
  }
  .adjust4 > h3 {
    margin-left: 30px;
  }
  .adjust4 > h3:before {
    top: 17px;
    left: 42px;
    width: 40px;
    height: 40px;
  }
  .adjust5 > h3 {
    margin-left: 30px;
  }
  .adjust5 > h3:before {
    top: 17px;
    left: 38px;
    width: 40px;
    height: 40px;
  }
  .about-section {
    padding: 1px 0 30px;
  }
  .about-section .about-heading .about-theme:before {
    top: 40px;
    left: 20%;
    font-size: 22px;
    /*IE9以前に対応する*/
    font-size: 1.375rem;
  }
  .about-section .about-content .profile-text {
    padding: 0 25px;
  }
  .about-section .about-content .profile-text .pr-theme1, .about-section .about-content .profile-text .pr-theme2, .about-section .about-content .profile-text .pr-theme3 {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
  }
  .about-section .about-content .profile-text .pr-theme1 > span, .about-section .about-content .profile-text .pr-theme2 > span, .about-section .about-content .profile-text .pr-theme3 > span {
    font-size: 15px;
    /*IE9以前に対応する*/
    font-size: 0.9375rem;
  }
  .about-section .about-content .profile-text .pr-place {
    margin-bottom: 30px;
  }
  .about-section .about-content .profile-text .pr-tx {
    font-size: 15px;
    /*IE9以前に対応する*/
    font-size: 0.9375rem;
    margin-bottom: 50px;
  }
  .about-section .about-content .profile-text .pr-tx .pr-tx1 br {
    display: none;
  }
  .about-section .about-content .profile-text .pr-tx .pr-tx3 br {
    display: none;
  }
  .profile-image {
    text-align: center;
    margin-bottom: 60px;
  }
  .profile-image > img {
    width: 330px;
    height: 330px;
    text-align: center;
  }
}

@media screen and (min-width: 1080px) {
  .th-wrapper {
    color: #dcdcdc;
    font-size: 80px;
    /*IE9以前に対応する*/
    font-size: 5rem;
    letter-spacing: 0.3em;
    font-weight: normal;
    position: relative;
    margin: 13vh 0 11vh;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .header__inner {
    width: 100%;
    margin: 0 auto;
    padding: 1% 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__inner__logo {
    width: 250px;
  }
  .header__inner .nav__list {
    display: inline-block;
    margin-right: 3vw;
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
  }
  .header__inner .nav__list a {
    color: #ffffff;
  }
  .header__inner .hamburger-btn {
    display: none;
  }
  .header__inner .hamburger {
    display: none;
  }
  .section__inner {
    padding: 0 80px 0 140px;
  }
  .ser-heading {
    text-align: center;
  }
  .ser-heading .ser-theme {
    margin-bottom: 14vh;
  }
  .ser-heading .ser-theme:before {
    content: 'サービス';
    position: absolute;
    top: 70px;
    left: 35%;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #333;
    font-size: 31px;
    /*IE9以前に対応する*/
    font-size: 1.9375rem;
  }
  .ser-heading .ser-text {
    font-size: 23px;
    /*IE9以前に対応する*/
    font-size: 1.4375rem;
    margin-bottom: 14vh;
    position: relative;
  }
  .ser-heading .ser-text:before {
    content: '';
    position: absolute;
    background-color: #999;
    bottom: -15px;
    width: 330px;
    height: 1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .ser-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15vh;
  }
  .ser-menus .ser-content {
    width: 24%;
    height: 100%;
    border: 1px solid #333;
    border-radius: 3px;
    margin: 0 2.5vh 0;
  }
  .ser-menus .ser-content img {
    height: 95px;
    width: 95px;
  }
  .ser-menus .ser-content .image {
    text-align: center;
  }
  .ser-menus .ser-content .image p {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
    margin: 1.5em 0;
    letter-spacing: 0.2em;
  }
  .ser-menus .ser-content .image img {
    margin-bottom: 1.5em;
  }
  .ser-menus .ser-content .text-content {
    background-color: #738851;
    height: 8em;
    color: #ffffff;
    font-size: 13px;
    /*IE9以前に対応する*/
    font-size: 0.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ser-menus .ser-content .text-content .topic {
    font-size: 14px;
    /*IE9以前に対応する*/
    font-size: 0.875rem;
    margin-bottom: 8px;
  }
  .works-section {
    background-image: url("../img/pc/works-image.jpg");
    min-height: 100vh;
    min-width: 100%;
  }
  .works-section .work-heading .work-theme:before {
    top: 70px;
    left: 38%;
    font-size: 30px;
    /*IE9以前に対応する*/
    font-size: 1.875rem;
  }
  .works-section .slide-wrapper {
    width: 850px;
  }
  .works-section .slide-wrapper #slide {
    position: relative;
    overflow: hidden;
    height: 500px;
  }
  .works-section .slide-wrapper #slide ul {
    width: 3400px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works-section .slide-wrapper #slide ul li {
    width: 850px;
  }
  .works-section #prevBtn {
    position: absolute;
    top: 230px;
    left: 20px;
  }
  .works-section #nextBtn {
    position: absolute;
    top: 230px;
    right: 20px;
  }
  .price-section {
    padding: 95px 0 115px;
  }
  .price-section .price-heading .price-theme:before {
    top: 70px;
    left: 40%;
    font-size: 32px;
    /*IE9以前に対応する*/
    font-size: 2rem;
  }
  .price-section .price-heading .price-theme:after {
    top: 38px;
    margin-left: 8px;
    width: 60px;
    height: 60px;
  }
  .price-section .price-tx {
    font-size: 18px;
    /*IE9以前に対応する*/
    font-size: 1.125rem;
    margin-bottom: 5em;
    text-align: center;
  }
  .price-section .price-tx .p-tx1 {
    margin-bottom: 10px;
  }
  .price-section .price-table {
    font-size: 1.1em;
    text-align: center;
    -webkit-box-shadow: 10px 10px #888;
            box-shadow: 10px 10px #888;
  }
  .price-section .price-table th, .price-section .price-table td {
    padding: 25px 70px;
  }
  .price-section .price-table span {
    font-size: 14px;
    /*IE9以前に対応する*/
    font-size: 0.875rem;
  }
  .making-order .making-heading {
    height: 10vh;
    line-height: 10vh;
    font-weight: 100;
  }
  .making-order .making-content .making-parts {
    padding: 80px;
  }
  .making-order .making-content .making-parts .making-part {
    height: 200px;
    max-width: 570px;
    padding: 35px 20px 0 110px;
    margin: 0 auto 30px;
  }
  .making-order .making-content .making-parts .making-part > h3 {
    margin-bottom: 20px;
  }
  .making-order .making-content .making-parts .making-part > p {
    font-size: 15px;
    /*IE9以前に対応する*/
    font-size: 0.9375rem;
  }
  .adjust1 > h3 {
    margin-left: 15px;
  }
  .adjust1 > h3:before {
    top: 20px;
    left: 55px;
    width: 65px;
    height: 65px;
  }
  .adjust2 > h3 {
    margin-left: 15px;
  }
  .adjust2 > h3:before {
    top: 20px;
    left: 60px;
    width: 65px;
    height: 65px;
  }
  .adjust3 > h3 {
    margin-left: 15px;
  }
  .adjust3 > h3:before {
    top: 20px;
    left: 57px;
    width: 65px;
    height: 65px;
  }
  .adjust4 > h3 {
    margin-left: 15px;
  }
  .adjust4 > h3:before {
    top: 20px;
    left: 61px;
    width: 65px;
    height: 65px;
  }
  .adjust5 > h3 {
    margin-left: 15px;
  }
  .adjust5 > h3:before {
    top: 20px;
    left: 55px;
    width: 65px;
    height: 65px;
  }
  .about-section {
    padding: 1px 0 110px;
  }
  .about-section .about-heading .about-theme:before {
    top: 70px;
    left: 38%;
    font-size: 30px;
    /*IE9以前に対応する*/
    font-size: 1.875rem;
  }
  .about-section .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 600px;
  }
  .about-section .about-content .profile-text {
    margin-left: 230px;
  }
  .about-section .about-content .profile-text .pr-place {
    margin-left: 30px;
    margin-bottom: 25px;
  }
  .about-section .about-content .profile-text .pr-tx {
    margin: 45px 30px 45px 0;
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
  }
  .profile-image > img {
    width: 530px;
    height: 530px;
    margin-left: 20px;
  }
  .pr-theme1 {
    width: 435px;
    position: relative;
  }
  .pr-theme1:before {
    content: "";
    position: absolute;
    top: 22px;
    left: -275px;
    -webkit-transform: skewX(-52deg);
            transform: skewX(-52deg);
    height: 90px;
    width: 185px;
    border-left: 1px solid #707070;
    border-top: 1px solid #909090;
  }
  .pr-theme1 span {
    font-size: 20px;
    /*IE9以前に対応する*/
    font-size: 1.25rem;
  }
  .pr-theme2 {
    width: 210px;
    position: relative;
  }
  .pr-theme2:before {
    content: "";
    position: absolute;
    top: 22px;
    left: -245px;
    -webkit-transform: skewX(-52deg);
            transform: skewX(-52deg);
    height: 75px;
    width: 165px;
    border-left: 1px solid #707070;
    border-top: 1px solid #909090;
  }
  .pr-theme3 {
    width: 510px;
    position: relative;
  }
  .pr-theme3:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -245px;
    -webkit-transform: skew(40deg, -38deg);
            transform: skew(40deg, -38deg);
    height: 85px;
    width: 170px;
    border-left: 1px solid #909090;
    border-bottom: 1px solid #909090;
  }
}
/*# sourceMappingURL=style.css.map */